@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'navigation.css';
@import 'index.css';
@import 'shop.css';
@import 'card.css';
@import 'product.css';
@import 'cart.css';
@import 'footer.css';
@import 'shipping.css';

:root {
    --first-Color: #ff9344;
    --second-Color: #3c3c3c;
    --thirth-Color: #fff;
    --four-Color: #ededef;
}